.cvbuilder {
    min-height: 100%;
    max-height: auto;
    padding: 1rem;
    
    .Title {
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    };
};